.videoBG {
    position: fixed;
    z-index: -1;
    /*not work if the screen ratio is below 16/9*/
    width: 100%;
    height: auto;
  }
  @media (min-aspect-ratio: 16/9) {
    .videoBG {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .videoBG {
      width: auto;
      height: 100%;
    }
  }
  
  .staticBG {
    background-color: yellow;
    height: 100vh;
    z-index: -1;
    position: fixed;
  }
  